[Unit]
Description=DOOM autostart service
ConditionPathExists=/home/root/scripts
After=subucom-uinput.service

[Service]
Type=simple
Restart=no
ExecStart=/home/root/scripts/start_doom.sh
ExecStopPost=

[Install]
WantedBy=graphical.target
