[Unit]
Description=subucom uinput driver
Before=doom.service
Before=graphical.target

[Service]
Type=forking
ExecStart=/usr/sbin/daemonize -p /var/run/subucom_uinput.pid -o /var/log/subucom_uinput.log /usr/bin/subucom_uinput
ExecStop=
PIDFile=/var/run/subucom_uinput.pid

[Install]
WantedBy=sysinit.target
